header{
    background: linear-gradient(104.11deg, #63ABDB 0%, #40CDD6 80.17%);
    height: 16vh;
    min-height: 130px;
    position: relative;

    display: flex;
    align-items: center;
}


.header__screen{
    background: linear-gradient(104.11deg,#63abdb,#40cdd6 80.17%);
    height: 84vh;
    display: flex;
    align-items: center;
}
.header__menu{
    display: grid;
    grid-template-columns: min-content 1fr min-content max-content;
    gap: 2%;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 920px) {
    .header__screen::before{
        width: 92% !important;
    }
}

// Katalog btn
.menu__katalog{
    position: relative;
    border: none;
    padding: 16px 12px 17px 50px;
    background-color: #308AC5;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    &::after {
        content: '';
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 17px;
        background-image: url(../images/dist/katafter.svg)
    }
}
@media (max-width: 1015px) {
    .menu__katalog {
        padding: 13px 12px 13px 50px;
    }
}

// Navigate
.header__menu__nav{
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 18px;
        li{
            list-style-type: none;
            &:last-child{
                margin-right: 0;
            }
            a{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                color: #FFFFFF;
                text-decoration: none;
                &:hover {
                    color: #FFF38B
                }
            }
        }
    }
}

// Search
.menu__search{
    display: grid;
    grid-auto-flow: column;
    height: 56px;
    &_input{
        box-sizing: border-box;
        width: 326px;
        background: none;
        border: 3px solid #3089C5;
        outline: none;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        padding: 0 12px;

        &::placeholder{
            color: #fff;
            opacity: 1;
        }
    }

    &_btn{
        width: 52px;
        border: none;
        background-color: #3089C5;
        display: flex;
        align-items: center;
        justify-content: center;

        &__icon{
            width: 29px;
            height: 29px;
        }
    }
}

@media (max-width: 1600px) {
    .menu__search_input{
        width: 160px;
    }
}
@media (max-width: 1015px) {
    .menu__search {
        height: 48px;
        .menu__search_btn{
            width: 48px;
        }
    }
}


// Cart button
.menu__cart{
    position: relative;
    margin-right: 10px;
    img{
        width: 38px;
        height: 38px;
    }
    span{
        width: 23px;
        height: 16px;
        position: absolute;
        top: 3px;
        right: -10px;
        text-align: center;
        background: #FFF38B;
        color: #383838;
        font-family: "PT Serif";
        padding-left: -3px;
        border-radius: 8px;
        font-size: 13px
    }
}
@media (max-width: 1015px) {
    .menu__cart{
        img{
            width: 32px;
            height: 32px;
        }
        span{
            top: 1px;
            width: 20px;
            right: -8px;
        }
    }
}

// Contact button
.header__menu__feedback{
    a{
        display: flex;
        height: 56px;
        background: #308AC5;
        padding: 0 13px;
        align-items: center;
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        &:hover{
            text-decoration: underline
        }
    }

    svg{
        display: none;
    }
}

@media (max-width: 1400px) {
    .header__menu__feedback {
        span{
            display: none;
        }
        svg{
            display: block;
            width: 40px;
            height: 40px;
        }
        a{
            background-color: transparent;
            padding: 0;
        }
    }
}
@media (max-width: 1015px) {
    .header__menu__feedback{
        svg{
            width: 32px;
            height: 32px;
        }
    }
}

.menu__burger{
    display: none;
    background: #308AC5;
    border: none;
    font-weight: 500;
    font-family: 'Roboto';
    padding: 16px 12px 17px 50px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    position: relative;
    margin-left: 25px;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 17px;
        background-image: url(../images/dist/katafter.svg)
    }
}

.header__disc__heading{
    h1{
        font-family: 'Rubik';
        font-weight: 700;
        font-size: 60px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
.header__disc__describe{
    h2{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        color: #FFFFFF;
        max-width: 421px;
        line-height: 29px
    }
}
.header__disc__button{
    a{
        display: inline-block;
        padding: 18px 53px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        color: #383838;
        background: #FFF38B;
        text-decoration: none
    }
}
.header__content__slide{
    width: 100%;
    display: grid !important;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    gap: 30px;

    &__disc{
        display: grid;
        gap: 50px;
    }
}
.header__content__slide__image{
    img{
        width: 100%;
    }
}

@media (max-width: 1600px) {
    .header__content__slide {
        h1{
            font-size: 48px;
        }
    }
}

@media (max-width: 1400px) {
    .header__content__slide {
        &__disc {
            gap: 30px;
        }
        h1 {
            font-size: 40px;
        }
        h2 {
            font-size: 18px;
        }
        .header__disc__button {
            a {
                font-size: 18px;
                padding: 14px 35px;
            }
        }
    }
}
@media (max-width: 980px) {
    .header__content__slide {
        grid-template-columns: 1fr;
        grid-template-rows: min-content max-content;
        grid-auto-flow: dense;

        &__disc{
            grid-row-start: 2;
            padding: 0 15px;
        }
    }
}
@media (max-width: 1200px) {
    .header__menu__nav ul {
        width: 0;
        overflow: hidden;
        position: fixed;
        top: 16vh;
        right: 0;
        height: 84vh;
        display: flex;
        flex-direction: column;
        background-color: #308AC5;
        z-index: 99;
        li{
            a{
                font-size: 24px;
            }
        }
    }
    .menu__opened {
        width: 40% !important;
    }
    .menu__katalog{
        background-color: transparent;
        padding: 0;
        &::after{
            display: none;
        }
    }
    .menu__burger{
        display: block;

    }
    .menu__search{
        margin: 0 8%;
        order: -1;
        border: 3px solid #fff;
    }
    .menu__search_input{
        font-size: 24px;
        width: 100%;
    }
}
@media (max-width: 680px) {
    .menu__opened {
        width: 55% !important;
    }
}

@media (max-width: 560px) {
    .menu__opened {
        width: 100% !important;
    }
    .header__content__slide {
        gap: 25px;
        h1{
            font-size: 28px;
        }
        h2{
            font-size: 16px;
        }
        .header__disc__button{
            a{
                font-size: 16px;
                padding: 14px 35px;
            }
        }
    }
}
