@use 'sass:math'
@use 'sass:color'

*
    margin: 0
    padding: 0
.header__screen
    position: relative
    &::before
        content: ''
        position: absolute
        width: 85%
        top: 0
        height: 1px
        background-color: #fff
        bottom: 0px
        left: 50%
        transform: translateX(-50%)
.limiter
    max-width: 1620px
    width: 85%
    margin: 0 auto
    position: relative
.slick-prev
    display: none!important
.slick-next
    display: none!important
.main__offer__disc
    margin-bottom: 62px
.main__offer__button
    a
        &:hover
            background: #3089c5
            color: #fff
.popular__inner
    padding-bottom: 30px
@media (max-width: 920px)
    .limiter
        width: 92%
.kroshki
    margin-top: 50px
    margin-bottom: 50px
.kroshki__list
    display: flex
    li
        list-style: none
        padding-right: 18px
        position: relative
        &:last-child
            margin-right: 0
            padding-right: 0
        &::before
            content: '/\00a0'
            position: absolute
            right: 0
            top: 3px
        &:last-child
            &::before
                content: ''
        a
            font-family: 'Roboto'
            font-style: normal
            font-weight: 400
            font-size: 18px
            color: #383838
            opacity: 0.5
            text-decoration: none



.about
    background: #e7eaef
.about__items
    padding: 105px
    background: #fff
    z-index: 2
    transform: translateY(87px)
.about__limiter__offer
    p
        font-family: 'Rubik'
        font-style: normal
        font-weight: 700
        font-size: 40px
        text-transform: uppercase
        color: #383838
.about__limiter
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%
.about__limiter__content
    margin-top: 100px
    display: grid
    grid-template-columns: 35.5% 1fr
    gap: 87px
    position: relative
    &::before
        content: ''
        position: absolute
        top: -55px
        left: 0
        width: 100%
        height: 2px
        background-color: #C9D0DB
.about__limiter__left
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
.about__limiter__left__disc
    p
        margin-bottom: 1.5vmax
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 21px
        color: #383838
        opacity: 0.7
        &:last-child
            margin-bottom: 0
.about__limiter__left__popup
    a
        width: 50%
        height: 56px
        display: flex
        justify-content: center
        align-items: center
        border: 3px solid #3089C5
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #3089C5
        text-decoration: none
        &:hover
            background: #3089C5
            color: #fff
.about__limiter__line
    background: #C9D0DB
    opacity: 0.5
    width: 100%
    height: 2px
    margin-top: 54px
    margin-bottom: 54px
.about__limiter__right
    img
        width: 100%
        object-fit: contain
@media (max-width: 1600px)
    .about__limiter__content
        grid-template-columns: 40% 1fr
        gap: 65px
    .about__limiter__left__disc
        p
            font-size: 16px
    .about__limiter__left__popup
        a
            height: 42px

@media (max-width: 1400px)
    .about__items
        padding: 70px
    .about__limiter__content
        grid-template-columns: 52% 1fr
        gap: 25px
        margin-top: 70px
        &::before
            top: -40px
    .about__limiter__left__disc
        p
            font-size: 14px
    .about__limiter__left__popup
        a
            border: none
            padding: 0
            height: 100%
            text-decoration: underline
            width: 100%
            display: inline-block

@media (max-width: 1100px)
    .about__limiter__content
        grid-template-columns: 1fr
        grid-template-rows: min-content max-content
    .about__limiter__left
        grid-row: 2
    .about__limiter__right
        width: 80%
        margin: 0 auto
    .about__limiter__left__popup
        margin-top: 20px

@media (max-width: 1100px)
    .about__limiter__offer
        p
            font-size: 28px

@media (max-width: 660px)
    .about__items
        padding: 50px
    .about__limiter__right
        width: 100%
    .about__limiter__content
        margin-top: 25px
        &::before
            display: none
    .about__limiter__left__popup
        a
            font-size: 16px
@media (max-width: 420px)
    .about__items
        padding: 35px


.popular
    padding: 157px 0 75px
    background: #f3f5f8
.popular__arrows
    margin-bottom: 30px

.popular__item
    margin-right: 30px
    box-sizing: margin-box
    aspect-ratio: 1/1.345
    position: relative
    display: grid !important
    grid-template-rows: 1fr 1fr
    background: #fff
    border: 1px solid #f3f5f8
    &:last-child
        margin-right: 0
    &:hover
        border: 1px solid #3089C5
        a
            background: #3089C5
            color: #fff
@media (max-width: 660px)
    .popular__item
        margin-right: 0

.popular__item__img
    align-self: center
    padding: 0 10px
    img
        width: 100%
        object-fit: contain
        object-position: center
.popular__item__disc
    display: flex
    justify-content: center
    p
        text-align: center
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 25px
        color: #383838
        transition: all .3s ease-in-out
        max-width: 244px
.popular__item__price
    margin-top: 30px
    p
        font-family: 'Roboto'
        text-align: center
        font-style: normal
        font-weight: 500
        font-size: 25px
        color: #383838
        transition: all .3s ease-in-out
.popular__item__buy
    display: flex
    justify-content: center
    align-items: center
    a
        display: flex
        justify-content: center
        align-items: center
        width: 158px
        height: 56px
        border: 2px solid #3089C5
        background: #fff
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 25px
        color: #3089C5
        margin-top: 30px
        text-decoration: none
        cursor: pointer
.arrovsprojects
    display: flex
.ArrowPrev
    width: 60px
    height: 73px
    border-left: 3px solid #DCDCDC
    border-top: 3px solid #DCDCDC
    border-bottom: 3px solid #DCDCDC
    position: relative
    cursor: pointer
    &::after
        content: ''
        display: block
        position: absolute
        width: 16px
        height: 28px
        background: url(../images/dist/prev.svg)
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
.ArrowNext
    width: 60px
    height: 73px
    border: 3px solid #DCDCDC
    position: relative
    cursor: pointer
    &::after
        content: ''
        display: block
        position: absolute
        width: 16px
        height: 28px
        background: url(../images/dist/next.svg)
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

@media (max-width: 730px)
    .popular__item__disc
        p
            font-size: 20px
    .popular__item__price
        p
            font-size: 22px

@media (max-width: 690px)
    .popular__item::hover
        .popular__item__price
            p
                margin-top: 5px
    .ArrowNext
        width: 40px
        height: 50px
    .ArrowPrev
        width: 40px
        height: 50px
@media (max-width: 630px)
    .popular__item__disc
        p
            font-size: 25px
    .popular__item__price
        p
            font-size: 25px
    .popular__item__price
        p
            margin-top: 25px


.about__wrapper
    margin: 60px 0 87px
    &::before
        display: none
@media (max-width: 1600px)
    .about__text
        p
            font-size: 18px !important
@media (max-width: 1400px)
    .about__text
        p
            font-size: 16px !important







.certificates
    padding: 87px 0
.certificates__items
    display: grid
    grid-template-columns: repeat( auto-fill, minmax(280px, 1fr))
    gap: 25px
    align-items: center
    justify-items: center
    justify-content: center
.certificates__item
    img
        width: 100%
        object-fit: contain



footer
    background: #4F98C8
    padding-top: 80px
    padding-bottom: 50px
.footer__items
    display: grid
    grid-template-columns: repeat(3, max-content)
    justify-content: space-between
.footer__menu
    display: grid
    grid-auto-flow: column
    gap: 50px
.footer__menu__item__offer
    font-family: 'Roboto'
    font-weight: 500
    font-size: 25px
    color: #FFFFFF
    margin-bottom: 30px
.footer__menu__item
    position: relative
    &:last-child
        margin-right: 0
.footer__menu__item__links
    ul
        li
            list-style: none
            margin-bottom: 15px
            &:last-child
                margin-bottom: 0
            a
                font-family: 'Roboto'
                font-style: norma
                font-weight: 500
                font-size: 18px
                color: #FFFFFF
                text-decoration: none
                &:hover
                    color: #FFF38B
.footer__contacts
    display: grid
    gap: 25px
    align-items: center
    align-content: center
    text-align: right
.footer__contacts__popup
    a
        display: flex
        justify-content: center
        align-items: center
        padding: 13px 45px
        border: 3px solid #FFF38B
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 20px
        color: #FFF38B
        text-decoration: none
.footer__contacts__phone
    a
        text-decoration: none
        font-family: 'Roboto'
        font-style: normal
        font-weight: 700
        font-size: 25px
        color: #FFFFFF
        letter-spacing: 0.02em
.footer__contacts__mail
    a
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #FFFFFF
        opacity: 0.7
        text-decoration: none
.footer__line
    width: 100%
    height: 2px
    background: rgba(255, 255, 255, 0.3)
    margin: 40px 0
.footer__docs
    display: flex
    justify-content: space-between
    a
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 20px
        color: #FFFFFF
        opacity: 0.7
        text-decoration: none

@media (max-width: 1180px)
    .footer__items
        grid-template-columns: repeat(2, max-content)
        gap: 40px 60px
    .footer__menu
        grid-column: 1/2

    .footer__contacts
        grid-row: 1/3
        grid-column: 2/3

    .footer__contacts__popup
        a
            padding: 10px 15px
            font-size: 18px

@media (max-width: 850px)
    .footer__items
        grid-template-columns: 1fr
    .footer__contacts
        grid-column: 1/2
        grid-row: 3/4
        justify-self: left
        text-align: left
        grid-template-columns: repeat(2, max-content)
        gap: 2px 20px
        .footer__contacts__popup
            grid-row: 1/3
            grid-column: 2/3

    .footer__docs
        a
            font-size: 18px
@media (max-width: 675px)
    .footer__docs
        flex-direction: column-reverse
        gap: 10px
        text-align: left
@media (max-width: 580px)
    footer
        padding-top: 50px
    .footer__logo
        display: none
    .footer__contacts
        grid-row: 1/2
        justify-self: stretch
        justify-content: space-between
        text-align: left
    .footer__contacts__phone
        a
            font-size: 24px
            letter-spacing: 0
    .footer__menu
        grid-auto-flow: row
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    .footer__docs
        text-align: left
    .footer__line
        margin: 20px 0
@media (max-width: 450px)
    .footer__contacts__popup
        display: none
    .footer__contacts__mail
        grid-column: 1/2


.cart
    background: #f3f5f8
    padding: 50px 0 87px

.cart__wrapper
    margin-top: 30px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 30px 62px
.cart__items
    grid-column: 1/3
    display: grid
    gap: 30px
.cart__total
    grid-column: 3/4
    padding: 40px 48px
    background-color: #fff
    align-self: self-start
    display: grid
    gap: 20px
    &__wrapper
        display: grid
        grid-auto-flow: column
        justify-content: space-between
        gap: 10px
        align-items: end
        font-family: 'Roboto', sans-serif
        color: #383838
        font-weight: 700
    &__offer
        font-size: 25px
    &__kolvo
        opacity: 0.7
        font-size: 25px
    &__title
        font-size: 30px
        opacity: 0.7
    &__price
        font-size: 40px


.cart__content__item
    position: relative
    height: 148px
    padding: 18px 48px
    display: grid
    gap: 30px
    grid-template-columns: 150px 2fr 1fr 1fr 20px
    background-color: #fff
    align-items: center
    overflow: hidden

.cart__oformlenie
    grid-column: 1/3
.cart__offer
    padding-bottom: 62px
    h3
        font-family: 'Rubik'
        font-style: normal
        font-weight: 700
        font-size: 40px
        text-transform: uppercase
        color: #383838
.cart__content__item__img
    width: 100%
    height: 100%
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    img
        width: 100%
        height: 100%
        object-fit: contain
.cart__content__item__titel__article
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 14px
        color: #383838
        opacity: 0.6
.cart__content__item__titel__name
    margin-top: 10px
    text-overflow: ellipsis
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
        opacity: 0.7
        max-width: 244px
.cart__content__price
    font-family: 'Roboto'
    text-align: center
    font-style: normal
    font-weight: 500
    font-size: 25px
    color: #383838
.cart__content____delete
    position: relative
    width: 19px
    height: 21px
    &::before
        content: ''
        position: absolute
        display: block
        width: 19px
        height: 21px
        left: 0
        top: 0
        background: url(../images/dist/deletenormal.svg)
        cursor: pointer
    &:hover
        &::before
            background: url(../images/dist/deletered.svg)
.cart__total__btn
    width: 100%
    padding: 17px
    cursor: pointer
    background: linear-gradient(91deg, #63ABDB 0%, #40CDD6 100%)
    border: none
    font-family: 'Roboto'
    font-weight: 500
    font-size: 18px
    color: #FFFFFF
.cart__oformlenie
    background: #FFFFFF
    padding-left: 48px
    padding-right: 48px
    padding-bottom: 67px
    border: 1px solid #f3f5f8
.cart__oformlenie__offer
    padding-top: 57px
    padding-bottom: 40px
    h4
        font-family: 'Roboto'
        font-style: normal
        font-weight: 700
        font-size: 25px
        color: #383838
.cart__oformlenie__pay__items
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 15px 20px
.cart__oformlenie__pay__items__item
    label
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
        opacity: 0.7
        padding-left: 45px
.cart__customcheckbox
    position: absolute
    z-index: -1
    opacity: 0
.cart__customcheckbox + label
        display: inline-flex
        align-items: center
        user-select: none
        position: relative
.cart__customcheckbox + label
    &::before
        content: ''
        display: block
        width: 23px
        height: 23px
        position: absolute
        background: url(../images/dist/radio.svg)
        left: 0
.cart__customcheckbox
    &:checked + label
        &::before
            background: url(../images/dist/radioactive.svg)
.cart__oformlenie__information__item__adress
    width: 100%!important
.cart__oformlenie__information__item
    width: 100%
    margin-bottom: 16px
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
        opacity: 0.7
        margin-bottom: 6px
    input
        height: 41px
        padding-right: 10px
        background: #F3F5F8
        border: none
        outline: none
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 16px
        color: #383838
        opacity: 1
        text-indent: 11px
        width: 100%
    &:last-child
        margin-bottom: 0
.cart__oformlenie__information__items
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 25px

.cart__oformlenie__information__item:last-child
    grid-column: 1/3
.cart__oformlenie__information__alarm
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 16px
        color: #383838
        opacity: 0.5

@media (max-width: 1440px)
    .cart__wrapper
        gap: 30px
        grid-template-columns: 1fr 1fr 30%
    .cart__total__title
        font-size: 25px
    .cart__total__price
        font-size: 30px
    .cart__total__offer, .cart__total__kolvo
        font-size: 20px
    .cart__content__price
        p
            font-size: 20px
    .cart__content__item
        grid-template-columns: 120px 2fr 1fr 1fr 20px

@media (max-width: 1240px)
    .cart__items
        grid-column: 1/4
        grid-row: 1/2
    .cart__oformlenie
        grid-row: 2/3
        grid-column: 1/4
    .cart__total
        grid-column: 1/3
        grid-row: 3/4
@media (max-width: 730px)
    .cart__content__item
        grid-template-columns: 2fr 1fr 1fr 20px
        gap: 20px
        padding: 18px 26px
    .cart__content__item__img
        display: none
@media (max-width: 630px)
    .cart__total
        grid-column: 1/4
    .cart__content__item
        height: 128px
    .cart__oformlenie__pay__items
        grid-template-columns: 1fr
    .cart__content__price
        position: absolute
        right: 30px
        bottom: 15px
    .cart__content__item__titel__article
        position: absolute
        left: 26px
        top: 22px
    .cart__content__item
        grid-template-columns: 2fr 1fr 20px
    .cart__oformlenie__information__items
        grid-template-columns: 1fr
        gap: 0
    .cart__oformlenie__information__item:last-child
        grid-column: 1/2



.category
    padding: 50px 0 87px
.tegs
    background: #FFFFFF
    margin-bottom: 60px
    border: 1px solid #F3F5F8
.category__block
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 30px
    position: relative
.category__filters
    min-width: 300px
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    background-color: #fff
    form
        border-top: 1px solid #F3F5F8
        border-left: 1px solid #F3F5F8
        border-right: 1px solid #F3F5F8
.filter__close
    cursor: pointer
    position: absolute
    top: 30px
    right: 30px

.category__filters__button
    margin: 15px 30px 0
    input
        width: 100%
        height: 56px
        border: none
        outline: none
.category__filters__button__apply
    input
        background: #3089C5
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #FFFFFF
.category__filters__button__reset
    input
        background: #F3F5F8
        border: 2px solid #DCDCDC
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
        opacity: 1
.category__items__list
    display: grid
    grid-column: 2/5
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
    gap: 30px
    .popular__item
        margin: 0 !important
.tegs__line
    width: 100%
    height: 2px
    background: #F3F5F8
    margin-top: 15px
    margin-bottom: 30px
.tegs__items
    display: flex
    padding-left: 30px
    padding-top: 30px
    flex-wrap: wrap
    a
        display: flex
        background: #F3F5F8
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
        opacity: 0.7
        text-decoration: none
        justify-content: center
        align-items: center
        padding: 10px 15px
        margin-right: 30px
        margin-bottom: 15px
        &:last-child
            margin-right: 0
.tegs__filter
    display: flex
    align-items: center
    flex-wrap: wrap
    gap: 20px 45px
    padding-left: 30px
    padding-bottom: 30px
.tegs__sort__offer
    margin-right: 6px
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 18px
        color: #383838
        opacity: 0.7
.tegs__sort__items
    a
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 18px
        color: #383838
        opacity: 0.9
        text-decoration: none
        padding-right: 20px
        &::before
            content: ''
            position: absolute
            display: block
            background: url(../images/dist/catarrow.svg)
            width: 9px
            height: 5px
            right: 0
            top: 8px

.tegs__settings
    font-size: 18px
    border: none
    font-weight: 500
    height: 45px
    padding: 12px 35px
    background: #3089c5
    color: #fff
    cursor: pointer
    display: none
.tegs__kolvo__offer
    margin-right: 6px
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 18px
        color: #383838
        opacity: 0.7
.tegs__kolvo__items
    font-family: 'Roboto'
    font-style: normal
    font-weight: 400
    font-size: 18px
    color: #383838
    opacity: 0.7
    span
        margin-left: 6px
        margin-right: 6px
.tegs__sort
    display: flex
.tegs__kolvo
    display: flex
.tegs__kolvo__items
    display: flex
.tegs__sort__items
    position: relative
    &:hover
        .tegs__sort__items__submenu
            display: grid

.tegs__sort__items__submenu
    position: absolute
    top: 100%
    left: 0
    width: 100%
    background: #eee
    justify-items: center
    display: none
    p
        cursor: pointer





// Аккардеон
.accordion
    background: #fff
    cursor: pointer
    padding: 30px 61px
    width: 100%
    text-align: left
    border: none
    border-top: 1px solid #F3F5F8
    outline: none
    transition: 0.4s
    font-family: 'Roboto'
    font-style: normal
    font-weight: 500
    font-size: 18px
    color: #383838
    position: relative
    &::before
        content: ''
        position: absolute
        display: block
        background: url(../images/dist/filtarrow.svg)
        width: 15px
        height: 9px
        left: 30px
        top: 35px
/* Добавить цвет фона для кнопки, если она нажата (добавить .активный класс с JS), а при наведении на него курсора мыши (наведите курсор) */
.active.accordion
    color: #3089C5
    &::before
        content: ''
        position: absolute
        display: block
        background: url(../images/dist/filtarrowactive.svg)
        width: 15px
        height: 9px
        left: 30px
        top: 35px
/* Стиль аккордеон панели. Примечание: скрыто по умолчанию */
.panel
    padding-left: 30px
    padding-right: 30px
    background-color: white
    display: none
    overflow: hidden
    padding-bottom: 30px
// Аккардеон
.category__filters__items__offer
    padding: 30px
    background: #fff
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
// PriceRange

.price-input
    width: 100%
    display: flex
    margin-bottom: 30px
.pricemin
    width: 90px
    height: 50px
.priceminfield
    position: relative
    &::after
        content: 'Р'
        display: block
        position: absolute
        right: -20px
        top: 15px
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
        opacity: 0.7
.pricemaxfield
    position: relative
    &::after
        content: 'Р'
        display: block
        position: absolute
        right: -20px
        top: 15px
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
        opacity: 0.7
    &::before
        content: '-'
        display: block
        position: absolute
        left: 35px
        top: 15px
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
        opacity: 0.7
.pricemax
    width: 90px
    height: 50px
.field
    display: flex
    align-items: center
.field
    input
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
        opacity: 0.7
        outline: none
        font-size: 19px
        margin-left: 53px
        text-align: center
        border: 2px solid #DCDCDC
        -moz-appearance: textfield
    &:first-child
        input
            margin-left: 0
input[type="number"]
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
    -webkit-appearance: none
.slider
    height: 2px
    position: relative
    background: #ddd
    border-radius: 50px
    padding-right: 30px
.progress
    height: 100%
    left: 25%
    right: 25%
    position: absolute
    border-radius: 5px
    background: #17A2B8
.range-input
    position: relative
    margin-bottom: 6px
    input
        position: absolute
        width: 100%
        height: 5px
        top: -5px
        background: none
        pointer-events: none
        -webkit-appearance: none
        -moz-appearance: none
input[type="range"]
    &::-webkit-slider-thumb
        height: 17px
        width: 17px
        border-radius: 50%
        background: #17A2B8
        pointer-events: auto
        -webkit-appearance: none
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05)
    &::-moz-range-thumb
        height: 17px
        width: 17px
        border: none
        border-radius: 50%
        background: #17A2B8
        pointer-events: auto
        -moz-appearance: none
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05)
// PriceRange
.category__filters__btn
    input
        margin-top: 30px
        width: 100%
        height: 56px
        background: linear-gradient(91deg, #3089C5 0%, #40CDD6 100%)
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #FFFFFF
        border: none
        outline: none
.category__filters__manufacturer__item__back
    position: absolute
    width: 119%
    height: 100%
    margin-left: -30px
.category__filters__manufacturer__item__active
    background: rgba(255, 243, 139, 0.31)
.category__filters__manufacturer__item
    margin-bottom: 8px
    display: flex
    flex-direction: row-reverse
    justify-content: flex-end
    align-items: center
    height: 28px
    position: relative
    &:last-child
        margin-bottom: 0
    label
        width: 100%
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 18px
        color: #383838
        opacity: 0.7
        margin-left: 12px
        position: relative
        z-index: 1
    input
        position: relative
        z-index: 1
.filters__manufacturer__panel
    height: 183px
    overflow-y: auto
.category__item__cart__img
    display: flex
    justify-content: center
    margin-top: 25px
    height: 226px
    img
        max-width: 280px
        height: 100%
        object-fit: contain
.category__item__cart__disc
    display: flex
    justify-content: center
    margin-top: 15px
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 25px
        color: #383838
        opacity: 1
        text-decoration: none
        max-width: 244px
        text-align: center
.category__item__cart__price
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 25px
        text-align: center
        color: #383838
        margin-top: 30px
.category__item__cart__btn
    display: flex
    justify-content: center
    margin-top: 43px
    button
        width: 158px
        height: 56px
        border: 2px solid #3089C5
        background: none
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 25px
        color: #3089C5
        cursor: pointer
        &:hover
            background: #3089C5
            color: #fff
.category__items__amount
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: 110px
    border: 1px solid #f3f5f8
    margin-top: 30px
.category__items__amount__list
    padding-left: 30px
.category__items__amount__kolvo
    padding-right: 30px
.previoushard
    display: flex
.nexthard
    display: flex
.page__items
    display: flex
    li
        list-style: none
        a
            display: flex
            text-decoration: none
            width: 44.12px
            height: 50px
            border-top: 1px solid #DCDCDC
            border-bottom: 1px solid #DCDCDC
            border-left: 1px solid #DCDCDC
            justify-content: center
            align-items: center
            font-family: 'Roboto'
            font-style: normal
            font-weight: 500
            font-size: 18px
            color: #383838
            opacity: 0.7
            &:last-child
                border-right: 1px solid #DCDCDC
            &:hover
                background: #3089C5
                color: #fff
            img
                width: 6px
                height: 12px
                margin-right: 3px
                &:last-child
                    margin-right: 0
.catalog__offer
    margin-bottom: 62px
.catalog__items__inner
    margin-top: 121px
    margin-bottom: 163px
.tovar__head__image
    max-width: 574px
    // margin-top: 88px
    position: relative
    margin-right: 152px
.tovar__head__disc
    width: 500px
    height: 500px
    margin-top: 88px
.tovar__head
    display: flex
    justify-content: center
    border: 1px solid #f3f5f8
.swiper__big
    margin-bottom: 20px
.tovar__swiper__big
    max-width: 574px
.swiper__small
    max-width: 574px
.tovar__swiper__big__item
    display: flex
    align-items: center
    height: 390px!important
    justify-content: center
.tovar__swiper__small__item
    width: 99px!important
    height: 99px!important
    margin: 0 auto
    margin-right: 0!important
    margin-left: 0!important
    img
        object-fit: contain
        width: 100%
        height: 100%
.tovar__arrows
    position: absolute
    width: 100%
.swiper-button-next
    right: -43px!important
    top: 200px!important
.swiper-button-prev
    left: -43px!important
    top: 200px!important
.tovar__head__name
    h1
        font-family: 'Rubik'
        font-style: normal
        font-weight: 500
        font-size: 30px
        color: #383838
        max-width: 567px
.tovar__head__priceoffer
    margin-top: 30px
    margin-bottom: 10px
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
        opacity: 0.7
.tovar__head__price
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 700
        font-size: 40px
        color: #383838
.tovar__head__quantity
    display: flex
    align-items: center
    width: 108px
    height: 45px
    background: #DEDEDE
    justify-content: space-evenly
    span
        display: flex
        align-items: center
        justify-content: center
        img
            width: 10px
    input
        width: 40px
        height: 100%
        border: none
        background: #DEDEDE
        outline: none
        text-align: center
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
        opacity: 0.7
.tovar__vivod
    display: flex
    align-items: center
    margin-top: 31px
.tovar__head__quantity__add
    margin-left: 30px
    a
        display: flex
        width: 190px
        height: 57px
        display: flex
        text-decoration: none
        justify-content: center
        align-items: center
        border: 1px solid #3089C5
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 25px
        color: #3089C5
        &:hover
            background: #3089C5
            color: #fff
.tovar__head__opisanie
    margin-top: 50px
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 18px
        color: #383838
        opacity: 0.7
.hiddenwrapper
    max-height: 128px
    overflow: hidden
    position: relative
.hiddenwrapper
    .bottom
        position: absolute
        bottom: 0
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 68.02%)
        width: 100%
        height: 60px
        opacity: 1
        transition: 0.3s
.read-more-checker
    opacity: 0
    position: absolute
.read-more-checker
    &:checked ~
        .hiddenwrapper
            max-height: none
.read-more-checker
    &:checked ~
        .hiddenwrapper
            .bottom
                opacity: 0
                transition: 0.3s
.read-more-checker ~
    .read-more-button
        &:before
            content: "Развернуть »"
            font-family: 'Roboto'
            font-style: normal
            font-weight: 400
            font-size: 18px
            color: #3089C5
.read-more-checker:checked ~
    .read-more-button
        &:before
            content: "Свернуть «"
            font-family: 'Roboto'
            font-style: normal
            font-weight: 400
            font-size: 18px
            color: #3089C5
.read-more-button
    cursor: pointer
    display: inline-block
    color: #777
    text-decoration: underline

.tovar__characteristics
    margin-top: 80px
.tovar__characteristics__offer
    margin-bottom: 15px
    h3
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 25px
        color: #383838
.tovar__characteristics
    table
        border-collapse: collapse
        width: 100%
        tr
            width: 100%
            height: 41px
            border-top: 1px solid #DEDEDE
            bordercolor: #DEDEDE
            &:last-child
                border-bottom: 1px solid #DEDEDE
            td
                font-family: 'Roboto'
                font-style: normal
                font-weight: 400
                font-size: 18px
                color: #383838
                opacity: 0.7
                width: 50%


@media (max-width: 1140px)
    .category__items__list
        gap: 20px
@media (max-width: 1090px)
    .tegs__settings
        display: block
    .tegs__items
        display: none
    .category__filters
        position: fixed
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: 10
        padding-bottom: 20px
        overflow: hidden
        display: none
    .category__filters__open
        display: block !important
    .category__items__list
        grid-column: 1/5
@media (max-width: 960px)
    .category__items__amount
        padding-top: 20px
        padding-bottom: 10px
        flex-direction: column
        align-items: center
    .category__items__amount__kolvo, .category__items__amount__list
        padding: 0



.contacts
    margin-bottom: 82px
.contacts__items
    display: grid
    grid-template-columns: 42% 1fr
    gap: 60px
    margin-top: 32px
.contacts__items__info
    padding: 25px 0
.contacts__offer
    h1
        font-family: 'Rubik'
        font-style: normal
        font-weight: 700
        font-size: 40px
        text-transform: uppercase
        color: #383838

.contacts__items__info__content
    display: grid
    gap: 15px
.contacts__info__phone
    display: flex
.contacts__info__disc
    p
        font-family: 'Roboto'
        font-size: 25px
        color: #2A2A2C
        line-height: 30px
    a
        font-family: 'Roboto'
        font-style: normal
        font-weight: 700
        font-size: 25px
        color: #2A2A2C
        text-decoration: none
        margin-left: 9px
.contacts__links__offer
    margin-top: 60px
    margin-bottom: 20px
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 16px
        color: #2A2A2C
.contacts__links__items
    display: grid
    grid-template-columns: repeat(auto-fit, 47px)
    gap: 15px
    img
        width: 47px
        height: 47px

@media (max-width: 1280px)
    .contacts__items
        grid-template-columns: 1fr
        gap: 12px
    .contacts__map
        grid-row: 1/2
        width: 80%
        justify-self: center
        height: 360px
    .contacts__links__offer
        display: none
    .contacts__links__items
        margin-top: 20px

@media (max-width: 800px)
    .contacts__map
        width: 100%
@media (max-width: 580px)
    .contacts__items__info__content
        gap: 10px
    .contacts__info__disc
        a
            font-size: 20px
        p
            font-size: 20px
@media (max-width: 480px)
    .contacts__links__items
        gap: 10px
        img
            width: 42px
            height: 42px

.about__benefits
    margin: 82px 0
    &__items
        display: grid
        grid-template-columns: 22% 1fr
        align-items: center
        justify-items: center
        gap: 60px
        transform: translateX(3.5%)
.about__benefits__disc
    display: grid
    gap: 20px

.about__benefits__img
    position: relative
    width: 97%
    &::before
        content: ''
        position: absolute
        top: -35px
        left: 0
        width: 103%
        height: 90%
        background-color: #4f98c8
        z-index: -1
    img
        width: 100%
        object-fit: cover
.benefits__offer
    margin-bottom: 85px
    h2
        font-family: 'Rubik'
        font-style: normal
        font-weight: 700
        font-size: 40px
        text-transform: uppercase
        color: #383838
    p
        margin-top: 15px
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
        opacity: 0.7


.about__benefits__item
    span
        font-family: 'Rubik'
        font-style: normal
        font-weight: 700
        font-size: 30px
        text-transform: uppercase
        color: #3089C5
    p
        font-family: 'Roboto'
        font-style: normal
        font-weight: 500
        font-size: 18px
        color: #383838
        opacity: 0.7
        width: 100%



@media (max-width: 840px)
    .about__benefits
        margin: 40px 0 82px
    .about__benefits__items
        grid-template-columns: 1fr
    .about__benefits__img
        display: none
    .about__benefits__disc
        width: 100%
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 40px
        justify-content: space-around
    .about__benefits__item
        span
            font-size: 40px
        p
            font-size: 24px
    header
        height: 100%!important
    .header__menu
        padding-top: 30px
        padding-bottom: 30px
    .header__screen
        height: 100%!important
        padding-bottom: 30px
        padding-top: 30px
    .header__disc__describe
        h2
            line-height: unset!important
    .tovar__head
        flex-direction: column
    .tovar__head__image
        margin-right: 0
        max-width: 100%
        margin-top: 0
    .tovar__swiper__big__item
        max-height: 400px!important
    .swiper-button-next
        right: 0!important
    .swiper-button-prev
        left: 0!important
    .tovar__head
        padding-right: 20px
        padding-left: 20px
        padding-top: 25px
    .tovar__swiper__big__item
        img
            width: 100%
            height: 100%
            object-fit: contain
    .swiper__small
        max-width: 100%
@media (max-width: 560px)
    .about__benefits__disc
        grid-template-columns: 1fr
    .header__content__slide__disc
        padding: 0!important
        gap: 10px!important
    .header__disc__button
        margin-top: 15px
    .main__offer__disc
        margin-bottom: 20px
    .tovar__swiper__big__item
        max-height: 200px!important
    .tovar__head__disc
        width: 100%
    .swiper-button-next
        top: 100px!important
    .swiper-button-prev
        top: 100px!important
@import config
@import 'blocks/**/*'
